<div class="search-box">
  <div class="search-container">
    <embed height="20" width="20" class="search-icon" src="images/search.svg" />
    <input type="text" class="search-input" placeholder="Search for an item..." spellcheck="false" />
  </div>
  <div class="tab-container">
    <div class="tab items-button active-tab" data-id="items" data-placeholder="Search for an item...">Items</div>
    <div class="tab quest-button" data-id="quests" data-placeholder="Search for a quest...">Quests</div>
    <div class="tab hideout-button" data-id="hideout" data-placeholder="Disabled for hideout">Hideout</div>
    <div class="tab maps-button" data-id="maps" data-placeholder="Disabled for maps">Maps<span class="tab-small-text">Provided by MapGenie</span></div>
  </div>

  <div class="quest-subtab-container">
    <div class="subtab" data-id="0">Prapor</div>
    <div class="subtab" data-id="1">Therapist</div>
    <div class="subtab" data-id="7">Fence</div>
    <div class="subtab" data-id="2">Skier</div>
    <div class="subtab" data-id="3">Peacekeeper</div>
    <div class="subtab" data-id="4">Mechanic</div>
    <div class="subtab" data-id="5">Ragman</div>
    <div class="subtab" data-id="6">Jaegar</div>
  </div>

  <div class="hideout-subtab-container">
    <div class="subtab" data-id="stations">Stations</div>
    <div class="subtab" data-id="crafts">Crafts</div>
  </div>

  <div class="maps-subtab-container">
    <div class="subtab" data-id="factory">Factory</div>
    <div class="subtab" data-id="woods">Woods</div>
    <div class="subtab" data-id="customs">Customs</div>
    <div class="subtab" data-id="interchange">Interchange</div>
    <div class="subtab" data-id="reserve">Reserve</div>
    <div class="subtab" data-id="shoreline">Shoreline</div>
    <div class="subtab" data-id="labs">Labs</div>
    <div class="subtab" data-id="lighthouse">Lighthouse</div>
  </div>

  <div class="search-results-container"></div>
  <div class="map-results-container"></div>

  <div class="settings-container">
    <div class="settings-header">Settings</div>
    <div class="two-sided-container">
      <div class="left-container">
        <div class="settings-sub-header">Hotkeys</div>
        <div class="settings-group">
          <div class="hotkey" data-id="toggle"></div>
          <div class="settings-item-header">Show/Hide</div>
        </div>
        <div class="settings-sub-header">Reset</div>
        <div class="reset" data-id="quests">Reset Quests</div>
        <div class="reset" data-id="level">Reset Level</div>
        <div class="reset" data-id="hideout">Reset Hideout</div>
        <div class="reset" data-id="all">Reset All</div>
      </div>
      <div class="right-container">
        <div class="settings-sub-header">Updates</div>
        <div class="settings-group">
          <div class="update auto-update">Auto Update</div>
          <div class="update manual-update">Manual Update</div>
        </div>

        <div class="settings-sub-header">Preferences</div>
        <div class="settings-group">
          <label class="switch">
            <input class="slider-input" type="checkbox" data-id="showAllQuests">
            <span class="slider round"></span>
          </label>
          <div class="settings-item-header">Show all Quests <span class="settings-small-text">(disregarding level)</span></div>
        </div>

        <div class="settings-group">
          <label class="switch">
            <input class="slider-input" type="checkbox" data-id="showAllCrafts">
            <span class="slider round"></span>
          </label>
          <div class="settings-item-header">Show all Craftables <span class="settings-small-text">(disregarding level)</span></div>
        </div>

        <div class="settings-group">
          <label class="switch">
            <input class="slider-input" type="checkbox" data-id="showAllQuestItems">
            <span class="slider round"></span>
          </label>
          <div class="settings-item-header">Show Items Needed for Quests <span class="settings-small-text">(disregarding completion)</span></div>
        </div>

        <div class="settings-group">
          <label class="switch">
            <input class="slider-input" type="checkbox" data-id="showAllHideoutItems">
            <span class="slider round"></span>
          </label>
          <div class="settings-item-header">Show Items Needed for Hideout <span class="settings-small-text">(disregarding station level)</span></div>
        </div>
      </div>
    </div>
  </div>
</div>